%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:topics, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:topics, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:topics, :edit, :id => @topic.id)

.tabs-content
  -form_for :topic, url(:topics, :update, :id => @topic.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'topics/form', :locals => { :f => f }
